# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
valor/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
er.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Foundry
cache/
broadcast/
out/
forge_snapshot.json
forge-cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log
refuel.gif
valor copy.png
